---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">

	<main class="h-screen w-full flex flex-col justify-center items-center">
		<h1 class="text-5xl font-extrabold text-white tracking-widest m-4">Esta pagina no existe...</h1>
		
		<img src="https://midu.dev/images/this-is-fine-404.gif" alt="404" />
		
		<h6 class="text-3xl text-white tracking-widest mt-2">Pero no te preocupes, puedes regresar al inicio</h6>
		
		<button class='border p-1 text-xl mt-2 hover:bg-pink-400/70 transition ease-in-out duration-500 hover:scale-110' onclick="window.location.href='/home'"> Regresa al inicio</button>
	
	</main>
	
</Layout>
