---
import Banner from "../components/Banner.astro";
import Bento from "../components/Bento.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my page">
	
	<Banner />
	
	<main>
		<Intro />
		<Bento />
		
	</main>
</Layout>
