<footer class="bg-[#222] h-6">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-baseline">
				<p class="m-2">© 2024 - Todos los derechos reservados - SaraElect GFX</p>
			</div>
		</div>
	</div>
</footer>
