<div class="flex justify-center items-center">
	<section
		class="text-xl text-left px-20 py-4 max-w-[70ch] text-pretty mx-auto my-24 border bg-black bg-opacity-85 rounded-xl"
	>
		<h1
			class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
		>
			Welcome to my upload Page!
		</h1>
		<p>Sell custom heads that i make</p>
		<p>Create and Edit, heads ❤️</p>
		<p>Accept tro</p>
        <p>If need a body or head can talk with me in:</p>
		<p>Graal era: <span class='font-black text-pink-400/70'>iSara...</span></p>
		<p>Disc: <span class='font-black text-pink-400/70'>sara4022</span></p>
	</section>
</div>
